# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
data/*
!data/.gitignore
!data/README.md
!data/**/.gitkeep

# Temporary
tmp/
cache/
*.bak
