# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# --- Data section ---

# Ignore image files anywhere under Data/
Data/**/*.[Jj][Pp][Gg]
Data/**/*.[Jj][Pp][Ee][Gg]
Data/**/*.[Pp][Nn][Gg]
Data/**/*.[Ww][Ee][Bb][Pp]
Data/**/*.[Tt][Ii][Ff]
Data/**/*.[Tt][Ii][Ff][Ff]
Data/**/*.[Bb][Mm][Pp]


# Temporary
tmp/
cache/
*.bak
